.paragraph-text{
    font-size: 21px;
    line-height: 25px;
    color: white;
}
/* .slick-list:before {
    content: '';
    width: 332px;
    height: 405px;
    display: block;
    background: #101010;
    position: absolute;
    z-index: 9;
    left: -345px;
} */
.trade-nft .top-section {
    position: relative;
    bottom: 0px;
    margin-top: 60px;
}
.trade-trending section.trending-section {
margin-top: 60px;
} 