.home-slider .slide{
    background-image: url('../../images/cards-music.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 368px;
}
.home-slider .slide-content {
    padding: 194px 30px 0px;
    color: #fff;
}
.slide-content .play-icon svg{
    color: #ffffff73;
    font-size: 56px;
}
.slide-content h3{
    font-size: 29px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 8px;
}
.client-details{
    width: 100%;
    color: #fff;
    margin-top: 18px;
}
.icons-row{
font-size: 18px;
gap: 30px;
}