.home-slider .slide-content {
    background-image: url('../../images/cards-music.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 404px;
    border-radius: 18px;
    padding: 185px 30px 0px;
    color: #fff;
    background-position: center center;
    margin-bottom: 30px;
}
.home-slider .slide{
    padding: 0px 15px;
}
.slide-content .play-icon svg{
    color: #ffffff73;
    font-size: 50px;
}
.slide-content h3{
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
}
.client-details{
    width: 100%;
    color: #fff;
    margin-top: 18px;
}
.icons-row{
font-size: 13px;
gap: 30px;
}


.subtract {
    font-size: 13px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.slide-bottom .button-aligns {
    gap: 10px;
}
.slide-bottom {
    margin-top: 25px;
}
.client-details h5 {
    font-size: 16px;
}

/* POPUP */

.left-side-content{
    background: url(../../images/house-cards-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 851px;
    padding-top: 265px;
    background-position: center center;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.house-of-cards .modal-dialog{
    max-width: 1267px;
}
.house-of-cards .modal-body{
    padding: 0px;
}
.house-of-cards .modal-content{
    border-radius: 25px;
}
span.singer-name {
    padding-top: 42px;
    display: block;
    text-decoration: underline;
    font-size: 16px;
}
.media-icons{
    margin-top: 38px;
    font-size: 35px;
}
.layers{
    overflow: hidden;
}
.layers img {
    margin-top: 38px;
    padding-left: 128px;
}

.right-side-content {
    width: 100%;
    display: block;
    position: relative;
    padding: 20px 20px 20px 0px;
}
.cross-btn {
    width: 30px;
    height: 30px;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}
.content-box span, .content-box h6{
    font-size: 13px;
}

.house-of-cards .right-side-content .scroll{
    max-height: 720px;
    overflow: auto;
    padding: 0px 20px;
    margin-top: 50px;
}

.house-of-cards .right-side-content .scroll::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .house-of-cards .right-side-content .scroll::-webkit-scrollbar-track {
    background: #000;
  }
  
  /* Handle */
  .house-of-cards .right-side-content .scroll::-webkit-scrollbar-thumb {
    background: #202020;
  }
  
  /* Handle on hover */
  .house-of-cards .right-side-content .scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .category{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 30px;
  }
  .music-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}