/* .golden-bg {
    background-image: url(../../images/golden_west_bg.svg);
    padding: 90px 0;
    background-size: cover;
    background-repeat: no-repeat;
} */
.golden-bg {
    background-image: url(../../images/golden_west_bg.svg);
    padding: 226px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.golden-bg .detail {
    padding: 50px;
}
.golden-bg .detail h2 {
    margin-top: 30px;
    margin-bottom: 12px;
}
.golden-bg .detail h5 {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
}
.progress-label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 7px;
}
.progress-label span {
    color: #ffffff66;
}
.price-section .progress {
    width: 250px;
    max-width: 100%;
    background: #202020;
    border-radius: 40px;
    height: 6px;
}
.price-section .progress .progress-bar {
    background: #f7f7f7;
}
.price-section {
    display: flex;
    justify-content: space-between;
    align-items: end;
}