
.banner-section{
    background-image: url('../../images/header-bg.png');
    background-size: cover;
    background-position: center center;
}
.main-padding-top{
    padding-top: 140px;
}
div#root {
    overflow: hidden;
}
.slick-list{
    /* overflow: visible !important; */
}
.slick-list:before {
    content: '';
    width: 290px;
    height: 220px;
    display: block;
    background: #101010;
    position: absolute;
    z-index: 9;
    left: -304px;
}

.top-section {
    position: relative;
    bottom: 120px;
}

.dark-mode .top-section .slick-list:before {
    content: '';
    width: 290px;
    height: 405px;
    display: block;
    position: absolute;
    z-index: 9;
    left: -304px;
    background: linear-gradient(
180deg , #000 0%,#000 10%,#101010 10%,#101010 118%);
}

/* Light Mode Styling */

.light-mode .music-content{
color: #000;
}
.light-mode .sub-heading , .light-mode .title {
    background-image: linear-gradient(45deg, #8200FE 17%, #EA06B1 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.light-mode .artist-dashboard .sub-heading , .light-mode .artist-dashboard .title {
    background-image: linear-gradient(45deg, #8CC600 17%, #1AE0E0 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.light-mode .top-section .sub-heading{
    /* -webkit-text-fill-color: #fff; */
}
.light-mode  .golden-bg{
    padding: 90px 0px;
}

.light-mode .top-section .slick-list:before{
    content: '';
    width: 290px;
    height: 405px;
    display: block;
    position: absolute;
    z-index: 9;
    left: -304px;
    background: linear-gradient( 
        180deg , #000 0%,#000 12.7%,#f7f7f7 13%,#f7f7f7 118%);
}

.light-mode .slick-list:before{
    background-color: #f7f7f7;
}
.light-mode section.trending-section {
    padding-top: 60px;
}
.trade-nft {
    padding-top: 60px;
}
.mobile-hide {
    display: block;
}
            
.pay-or-play-mobile-bg h1.pay-title {
    margin: 90px 0px 50px;
}
.pay-or-play-mobile-bg .buttons {
    margin-top: 90px;
}

.artist-dashboard .banner-section{
    height: 100vh;
    background-image: url('../../images/artist-banner-bg.png');
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.artist-dashboard .top-section {
    bottom: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}
.dark-mode .artist-dashboard .top-section .slick-list:before{
    background: #101010;
}
.light-mode .artist-dashboard .top-section .slick-list:before{
    background: #f7f7f7;
}
/* .artist-dashboard .banner-section:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 11.64%, rgba(0, 0, 0, 0) 50.51%), linear-gradient(359.47deg, #101010 3.4%, rgba(0, 0, 0, 0) 30.9%);
} */
/* Start Media Querys*/
@media (max-width: 1399px) { 
    .btn.btn-theme{
        font-size: 12px;
    } 
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
        padding: 5px 23px;
        font-size: 17px;
    }
    header#header {
        padding-top: 25px;
        margin-bottom: 40px;
    }
    .title {
        font-size: 55px;
        line-height: 60px;
    }
    .library-tabs-section .nav-tabs .nav-link {
        font-size: 24px !important;
        margin: 0px 18px !important;
    }
    .graph2 span {
        top: 225px;
        right: 23px;
        font-size: 14px;
    }
    

}

@media (max-width: 1199px) { 
    .home-slider .slide-content {
        height: 307px !important;
        padding: 100px 15px 0px !important;
    }
    .client-details h5 {
        font-size: 13px !important;
    }
    .slide-content h3{
        font-size: 20px !important;
    }
    .subtract span{
        font-size: 10px;
    }
    .btn.btn-theme.ethereum-icon{
        padding: 5px 8px;
        align-items: center;
    }
    .like, .view{
        font-size: 12px;
    }
    .price-section{
        display: block !important;
    }
    .golden-bg .detail {
        padding: 20px !important;
            padding-top: 20px;
        padding-top: 7px !important;
    }
    .golden-bg .detail h2.sub-heading {
        margin-top: 10px;
        margin-bottom: 12px;
        font-size: 22px;
    }
    .golden-bg .detail {
        padding: 20px !important;
    }    
    .golden-bg{
        padding: 120px 0px !important;
    }
    .price-section .btn {
        margin-top: 20px;
    }
    .slick-list::before {
        height: 300px;
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
        padding: 5px 19px;
        font-size: 15px;
    }
    header#header {
        padding-top: 20px;
        margin-bottom: 32px;
    }
    .title {
        font-size: 46px;
        line-height: 50px;
    }
    .library-tabs-section .nav-tabs .nav-link {
        font-size: 22px !important;
        margin: 0px 18px !important;
    }
    .graph1 img {
        margin-left: 19px;
    }
    .graph2 span {
        top: 201px;
        right: 13px;
        font-size: 13px;
    }
    .dates ul li {
        font-size: 14px;
    }
    
}


@media (max-width: 991px) { 
    .main-padding-top {
        padding-top: 100px;
    }
    .top-section{
        bottom: 60px;
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus{
        padding-left: 0px;
        margin-top: 20px;
    }
    .slick-list::before{
        height: 240px;
    }
    .golden-bg .detail {
        padding: 20px !important;
            padding-top: 20px;
        padding-top: 7px !important;
    }
    .golden-bg .detail h2.sub-heading {
        margin-top: 10px;
        margin-bottom: 12px;
        font-size: 22px;
    }
    .user-icon {
        margin-top: 6px;
        position: absolute;
        right: 10px;
        top: 0;
    }
    .banner-top-dropdown .btn{
        font-size: 13px;
    }
    .music-head{
        gap: 0;
    }
    .golden-bg{
        padding: 90px 0px !important;
    }
    .golden-bg .detail h5{
        margin-bottom: 10px !important;
    }

    .btn.btn-theme {
        font-size: 8px;
    }
    .upload-icon:before {
        width: 26px;
        height: 12px;
        top: 0;
        margin-right: 0px;
    }
    .dropdown-popup .account-name {
        font-size: 18px;
        line-height: 25px;
    }
    .dropdown-popup .amount {
        font-size: 32px;
    }
    .sub-heading{
        font-size: 28px;
    }
    .dark-mode .top-section .slick-list:before{
        background: linear-gradient( 
            180deg , #000 0%,#000 0%,#101010 3%,#101010 118%);
    }
    .golden-bg {
        padding: 20px 0px !important;
    }

    .detail.mobile-bg-set {
        background-image: url(../../images/golden_west_mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 50% !important;
        border-radius: 18px;
    }
    #header .navbar-toggler{
        padding: 0px;
        right: 60px;
        position: relative;
        border: none;
        box-shadow: none;
    }
    header#header .navbar>.container{
        position: relative;
    }
    header#header .navbar .navbar-collapse {
        background: #000;
        padding: 0 15px 20px;
    }
    #header .navbar-toggler .navbar-toggler-icon{
        font-size: 20px;
        margin-top: 0px;
    }
    header#header{
        margin-bottom: 10px !important;
    }
    .title {
        font-size: 36px;
        line-height: 40px;
    }
    .library-tabs-section .nav-tabs .nav-link {
        font-size: 20px !important;
        margin: 0px 18px !important;
    }
    .data {
        margin-top: 30px;
    }
    .graph1 img {
        margin-left: 14px;
    }
    .graph2 span {
        top: 162px;
        right: 13px;
        font-size: 13px;
    }
    .dates ul li {
        font-size: 11px;
    }
    .faning {
        margin-top: 35px;
        margin-bottom: 40px;
    }
 }
 @media (max-width: 767px) {
    .mobile-hide {
        display: none;
    }
    .slick-slide.slick-active.slick-current .music-list, .slick-slide.slick-active .slide{
        padding-left: 0px !important;
    }
    .paragraph-text{
        font-size: 16px !important;
    }
    #header .navbar-toggler .navbar-toggler-icon{
        margin-top: 7px;
    }
    /* .pay-or-play-mobile-bg{
        background-image: url(../../images/Pay-play-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 18px;
    } */
    .library-tabs-section .nav-tabs .nav-link{
        font-size: 18px !important;
    }
    .library-tabs-section .nav-tabs {
        display: flex;
        justify-content: center;
    }
    .left-side-content {
        height: 580px !important;
        padding-top: 125px !important;
        border-radius: 18px !important;
    }
    .right-side-content{
        position: static !important;
    }
    .house-of-cards .right-side-content .scroll{
        margin-top: 0px !important;
    }
    .pay-or-play-mobile-bg h1.pay-title br {
        display: none;
    }
    .pay-or-play-mobile-bg h1.pay-title {
        margin: 40px 0px 10px;
    }
    .pay-or-play-mobile-bg .buttons {
        margin-top: -30px;
    }
    .signer-details-mobile-bg {
        /* text-align: center;
        background-image: url(../../images/Singer.svg); */
        position: relative;
    }
    .signer-details-mobile-bg .signer-details {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-bottom: 20px;
    }
    .title {
        font-size: 31px;
        line-height: 31px;
    }
    header#header {
        padding-top: 14px;
    }
    .library-tabs-section .nav-tabs .nav-link {
        font-size: 16px !important;
    }
    .graph1 img {
        margin-left: 10px;
    }
    .graph2 span {
        top: 150px;
        right: 13px;
        font-size: 12px;
    }
    .dates ul {
        justify-content: space-between;
    }
    .dates ul li {
        font-size: 8px;
    }
    .data1 p {
        font-size: 13px;
        line-height: 5px;
    }
    .data2 p {
        font-size: 13px;
        line-height: 5px;
    }
    .right-side-content{
        padding: 20px 0;
    }
    .signer-details-mobile-bg a.back.mobile {
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0;
        background: #d3d3d3;
    }
 }
 @media (max-width: 575px) {
    .banner-top-dropdown .btn{
        font-size: 10px !important;
        padding: 5px 8px !important;
    }
    .banner-content{
        padding-bottom: 30% !important;
    }
    .home-slider .slide{
        padding: 0px 5px !important;
    }
   .slick-list::before{
        width: 300px !important;
    }
    .music-list {
        padding: 0 5px !important;
    }
    .banner-top-dropdown .btn{
        margin: 0px 5px !important;
    }
    span.search-icon {
        top: 8px !important;
        font-size: 13px !important;
    }
    .header-search .form-control{
        height: 37px !important;
    }
    .library-tabs-section .nav-tabs .nav-link{
        font-size: 18px;
    }
     .music-head .btn {
        max-width: 90px;
        width: 100%;
    }
    .upload-icon:before {
        width: 31px;
        height: 12px;
        top: 0;
        margin-right: 0px;
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
        padding: 5px 0px;
    }
    .title {
        font-size: 26px;
        line-height: 31px;
    }
    .graph1 img {
        margin-left: 6px;
    }
    .graph2 span {
        top: 143px;
        right: 1px;
        font-size: 10px;
    }
    .dates ul {
        margin-left: -27px;
    }
    .data {
        margin-top: 20px;
    }
    .data1 p {
        font-size: 10px;
        line-height: 3px;
    }
    .data2 p {
        font-size: 10px;
        line-height: 3px;
    }
    .data1 span{
        font-size: 12px;
    }
    .data2 span{
        font-size: 12px;
    }
    .music-details h3, .music-details span {
        font-size: 10px !important;
        margin-bottom: 0px;
    }
    .detail.mobile-bg-set {
        padding-top: 10% !important;
    }
    .faning {
        margin-top: 15px;
        margin-bottom: 15px;
    }
 }

 @media (max-width: 420px) {
    #header .navbar-toggler .navbar-toggler-icon {
        font-size: 16px;
        margin-top: 0px;
    }
    .sub-heading {
        font-size: 20px;
    }
    .banner-top-dropdown .btn {
        margin: 0px 2px !important;
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
        margin-top: 10px;
    }
 }


 @media (min-width: 1921px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1850px;
    }
 }