@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 900;
}

body {
  font-family: "SF Pro Text";
  background-color: #f7f7f7 !important;
  font-weight: 400;
}
body.dark-mode {
  background: #101010 !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.title,
.nav-link,
.dropdown-toggle {
  font-family: "Gotham";
}
h1 {
  font-size: 44px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
.btn.btn-theme {
  color: #fff;
  background-color: #202020;
  border-color: #202020;
  border-radius: 25px;
  padding: 6px 15px;
  transition: 0.3s ease-in-out;
  font-size: 13px;
  position: relative;
}
.btn.btn-theme.bg-gray:hover {
  background: linear-gradient(90deg, #9000f3, #de05ba) !important;
  color: #fff !important;
  border-color: #9000f3 !important;
}
.bg-gradient {
  background: linear-gradient(90deg, #9000f3, #de05ba) !important;
  color: #fff !important;
  border-color: #9000f3 !important;
}
.bg-gradient-green {
  background: linear-gradient(264.18deg, #1ae0e0 2.5%, #8cc600 100%);
  color: #fff;
  border: none !important;
}
.btn.btn-theme.bg-gradient:hover,
.btn.btn-theme.bg-gradient-green:hover {
  color: #fff !important;
  background: #202020 !important;
  border-color: #fff !important;
}
.bg-gray {
  background-color: #4c4c4d !important;
  border-color: #4c4c4d !important;
}
.bg-darkgrey {
  background: #202020;
}
.light-mode .bg-darkgrey {
  background: #ffff;
}
.text-white {
  color: #fff;
}
.light-mode .text-white {
  color: #101010 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background: linear-gradient(90deg, #9000f3, #de05ba) !important;
  color: #fff !important;
  border-color: #9000f3 !important;
}
.sub-heading {
  font-size: 44px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 900;
}
.heading {
  font-size: 68px;
}
span {
  font-size: 13px;
}
.title {
  font-size: 68px;
  line-height: 80px;
  text-transform: uppercase;
}

.dark-mode span,
.dark-mode h2,
.dark-mode .title,
.dark-mode h6,
.dark-mode p {
  color: white;
}
.dark-popup .modal-content {
  background-color: #000;
  color: #fff;
  border: none;
}
.dark-popup .btn.btn-theme a {
  color: #fff;
  text-decoration: none;
}
button.btn.btn-theme.bg-white {
  color: #000;
}
.singer-details-content .inline-buttons {
  gap: 20px;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: unset !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: unset !important;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: unset !important;
}
.upload-icon:before {
  color: #fff;
  content: "";
  width: 20px;
  background: url("/src/images/upload-icon.png");
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
  margin-right: 8px;
}
.section-content {
  margin-top: 20px !important;
}
.no-data {
  display: none;
}

.empty .no-data {
  border-radius: 24px;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
.empty .no-data p {
  margin: 0;
}
.empty .no-data + div {
  display: none;
}
.overview-section {
  margin-bottom: 64px;
}
.overview-items {
  min-width: 1000px;
}
.overview-section .sub-heading {
  color: #fff;
  -webkit-text-fill-color: #fff !important;
}
.overview-item {
  border-radius: 16px;
  padding: 30px 24px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.overview-item h2,
.overview-item h3 {
  margin: 0;
}
.overview-item .image {
  margin: 30px 0;
}
.overview-item .image img.light {
  display: none;
}
.light-mode .overview-item .image img.light {
  display: block;
}
.light-mode .overview-item .image img.dark {
  display: none;
}
.overview-item .summary .value {
  font-size: 78px;
  line-height: 93px;
  letter-spacing: -0.17px;
}
.artist-dashboard {
  min-height: 100vh;
}
.library-tabs-section .nav-tabs {
  justify-content: center;
}
.graphing {
  display: flex;
}
.graph1 {
  margin-top: 12px;
}
.graph1 img {
  margin-left: 36px;
}
.dates ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.dates ul li {
  color: #707070;
  font-size: 16px;
}
.graph2 {
  position: relative;
}
.graph2 span {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 16px;
  background-image: linear-gradient(45deg, #8cc600 17%, #1ae0e0 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.data {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.data1 {
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.data1 p {
  color: #707070;
  font-size: 16px;
}
.data1 span {
  background-image: linear-gradient(45deg, #8cc600 17%, #1ae0e0 50%);
  -webkit-background-clip: text;
  font-size: 16px;
  -webkit-text-fill-color: transparent;
}

.lib-tabs .nav-tabs .nav-link.active {
  border-bottom: 1px solid #8cc600 !important;
}
.faning {
  margin-top: 50px;
  margin-bottom: 55px;
}

/* Upload Modal */
.upload-modal .modal-fullscreen .modal-content {
  background-image: url("./images/upload-bg.png");
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.upload-modal .modal-fullscreen .modal-header {
  padding: 45px;
  border: unset;
  position: relative;
}
.upload-modal .cross-btn {
  right: 45px;
  top: 55px;
}
.upload-modal .modal-fullscreen .modal-body {
  /* display: flex;
  align-items: center; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.upload-modal .modal-fullscreen .modal-body .border-right {
  border-right: 1px solid #393939;
}
/* .upload-modal .modal-body:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  border: 1px solid #393939;
  background: #393939;
} */
.upload-modal .content-wrapper {
  text-align: center;
  /* max-width: 470px; */
  margin: 0 auto;
  padding: 0 100px;
}
.upload-modal .content-wrapper h1 {
  font-size: 60px;
  line-height: 80px;
  text-transform: uppercase;
}
.upload-modal .content-wrapper .content {
  margin-top: 35px;
  margin-bottom: 100px;
  max-width: 515px;
  margin-left: auto;
  margin-right: auto;
}
.select-file-btn {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}
.select-file-btn input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.upload-modal .file-type-info {
  margin-top: 60px;
}
.upload-modal .btn-white {
  background: #f7f7f7;
  color: #000;
  border-radius: 96px;
  border: 1px solid #fff;
  height: 52px;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
}
.upload-modal .btn-outline-white {
  background: transparent;
  color: #fff;
  border-radius: 96px;
  border: 1px solid #fff;
  height: 52px;
  font-weight: 700;
  padding: 10px 20px;
}
.upload-modal .btn-white:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.song-info form .form-label {
  font-size: 28px;
  margin-bottom: 16px;
}
.song-info form .form-control {
  min-height: 95px;
  background: #282828;
  border: none;
}
.upload-modal .modal-fullscreen .modal-footer {
  justify-content: center;
  border: none;
}
.upload-modal .btn-gray {
  background: #202020;
  border: none;
  border-radius: 50%;
  text-align: center;
  width: 52px;
  height: 52px;
  margin-right: 20px;
}
.quantity-prices .item {
  margin-bottom: 40px;
  margin-top: 40px;
}
.quantity-prices .item .description {
  width: 60%;
}
.quantity-prices .description h2 {
  width: 50%;
  text-align: left;
  font-size: 44px;
  line-height: 52px;
}
.quantity-prices .description p {
  width: 50%;
  text-align: left;
  font-size: 13px;
}
.quantity-prices .currency {
  margin-right: 40px;
}
.quantity-prices .value {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  line-height: 35px;
}
.quantity-prices .value span {
  border-top: 1px solid #424242;
}
.quantity-prices .price {
  align-items: flex-start;
}
.quantity {
  align-items: center;
}
.quantity input[type="text"] {
  width: 50px;
  background: no-repeat;
  border: none;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 0 10px;
}

.quantity span {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: #202020;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-prices .nav-tabs {
  border: none;
  background: #202020;
  margin: 0 auto;
  width: 410px;
  padding: 8px;
  border-radius: 48px;
}

.quantity-prices .nav-tabs li.nav-item {
  width: 50%;
  text-align: center;
}

.quantity-prices .nav-tabs li.nav-item .nav-link.active {
  background: #101010;
  color: #fff;
}

.quantity-prices .nav-tabs li.nav-item .nav-link {
  width: 100%;
  height: 56px;
  border-radius: 48px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #bebebe;
}
.upload-modal .quantity-prices .content-wrapper .content {
  margin-bottom: 50px;
}
.upload-modal .modal-body .content-wrapper .icon {
  margin-bottom: 70px;
}
.artist-dashboard .history {
  margin-top: 50px;
  border-top: 1px solid #202020;
  padding-top: 70px;
}
.light-mode .artist-dashboard .history {
  border-color: #d6d6d6;
}
.artist-dashboard .history h2 {
  font-size: 44px;
  margin-bottom: 40px;
}
.artist-dashboard .history h4 {
  margin-bottom: 20px;
  color: #f7f7f7;
  font-weight: normal;
  font-size: 22px;
}
.load-more {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.load-more .btn-dark {
  border-radius: 25px;
}
img.light {
  display: none;
}
.light-mode img.dark {
  display: none;
}
.light-mode img.light {
  display: block;
}
.artist-dashboard .history .music-details {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.quantity-prices .currency .icon img {
  width: auto;
}
.about-project{
  background-image: url(./images/image\ 2.png);
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}
.abt-project{
  margin-top: 170px;
  margin-right: 50px;
}
.abt-project h1{
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: -0.16500000655651093px;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.abt-project img{
  padding-bottom: 50px;
}
.abt-project p{
  padding-bottom: 50px;
}
.abt-project h3{
padding-bottom: 50px;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
letter-spacing: -0.165px;
text-transform: uppercase;
color: #fff;
}
.pro-detail{
  margin-top: 300px;
  padding-bottom: 85px;
}
.pro-detail h3{
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
color: #fff;
letter-spacing: -0.165px;
text-transform: uppercase;
}
.pro-line{
  position: absolute;
  width: 340px;
  height: 6px;
  right: 128px;
  top: 375px;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 40px;
}
.pro-line span{
  width: 133px;
height: 6px;
left: 33px;
top: 116px;
background: #F7F7F7;
border-radius: 40px;
display: inherit;
}
.pro-line p{
  margin-top: -39px;
    font-size: 19px;
}
.project-content p{
  margin: 0;
}
.project-button{
  margin-top: 40px;
  margin-bottom: 50px;
}
.project-cont h3{
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 34px;
letter-spacing: -0.16500000655651093px;
text-align: left;
color: #fff;
padding-top: 25px;
padding-bottom: 25px;
}
.about-royalty h1{
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: -0.16500000655651093px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 28px;
}
.about-royalty p{
font-size: 24px;
font-style: italic;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.16500000655651093px;
text-align: center;
padding-bottom: 50px;
}
.royalty-content h4{
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.16500000655651093px;
text-align: left;
padding-bottom: 25px;
}
.royalty-content p{
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 37px;
padding-bottom: 35px;
letter-spacing: -0.165px;
}
.royal-content p {
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 37px;
letter-spacing: -0.165px;
padding-bottom: 35px;
}
.royal-content h4{
    font-size: 44px;
    padding-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.16500000655651093px;
    text-align: left;
    text-transform: uppercase;
}
.royalty-cont p{
font-style: italic;
font-weight: normal;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: -0.165px;
color: #FFFFFF;
padding-top: 100px;
padding-bottom: 135px;
}
.royalty-cont p::before{
content: "";
position: absolute;
width: 63px;
height: 0px;
top: 380px;
border: 1px solid #424242;
}
.royalty-form .form-control1{
  height: 60px;
  width: 160px;
  border-radius: 11px;
  background: #282828;
  outline: none;
  border: none;
  color: #fff;
}
.royal-form .form-control1{
  height: 60px;
  width: 300px;
  border-radius: 11px;
  background: #282828;
  outline: none;
  border: none;
  color: #fff;
}
.royal-cont{
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.16500000655651093px;
    text-align: center;
    padding-top: 25px;
}
.royal-cont p::before{
  content: "";
  height: 2px;
  left: 215px;
  position: absolute;
  top: 615px;
  background: #393939;
  width: 940px;
}
.royalties-content{
  padding-top: 70px;
    margin-left: 8%;
    position: relative;
}
.royalties-content h2{
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 76px;
letter-spacing: -0.16500000655651093px;
text-transform: uppercase;
}
.royalties-content span .form-control1{
  height: 60px;
  outline: none;
  border: none;
    width: 160px;
    border-radius: 11px;
    background: #282828;
    display: inline-block;
    position: absolute;
    top: 78px;
    left: 46%;
    color: #fff;
}
.royalties-content p{
font-size: 24px;
font-style: italic;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.16500000655651093px;
text-align: center;
color: #fff;
padding-top: 35px;

}
@media (max-width: 1199px) { 

.overview-section .container {
  overflow: hidden;
  overflow-x: scroll;
}
.upload-modal .modal-fullscreen .modal-header {
  padding: 25px;
}
.upload-modal .content-wrapper{
  padding: 0 60px;
}
.upload-modal .content-wrapper h1 {
  font-size: 40px;
  line-height: 50px;
}
.upload-modal .content-wrapper .content {
  margin-top: 20px;
  margin-bottom: 30px;
}
.upload-modal .modal-fullscreen .modal-body {
  padding-top: 30px;
  padding-bottom: 30px;
}
.upload-modal .modal-body .content-wrapper .icon {
  margin-bottom: 40px;
}
.select-file-btn {
  margin-bottom: 20px;
}
.upload-modal .file-type-info {
  margin-top: 40px;
}
.song-info form .form-label {
  font-size: 24px;
  margin-bottom: 12px;
}
.song-info form .form-control {
  min-height: 70px;
}
.quantity-prices .nav-tabs {
  width: 350px;
}
.quantity-prices .nav-tabs li.nav-item .nav-link {
  height: 50px;
  font-size: 16px;
}
.quantity-prices .description h2 {
  font-size: 32px;
  line-height: 40px;
}
.quantity-prices .value {
  font-size: 24px;
  line-height: 32px;
}
.quantity input[type="text"]{
  font-size: 24px;
}
.overview-item .summary .value {
  font-size: 60px;
}
.overview-item h2, .overview-item h3 {
  margin: 0;
  font-size: 24px;
}
.sub-heading {
  font-size: 40px;
}
.upload-modal .cross-btn {
  right: 15px;
  top: 35px;
}
.about-royalty h1 {
  font-size: 50px;
  line-height: 52px;
  padding-bottom: 25px;
}
.about-royalty p {
  font-size: 22px;
  line-height: 13px;
  padding-bottom: 40px;
}
.royalty-content h4 {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 15px;
}
.royal-content h4 {
  font-size: 30px;
  padding-bottom: 15px;
  line-height: 30px;
}
.royalty-cont p {
  font-size: 11px;
  line-height: 16px;
  padding-top: 62px;
  padding-bottom: 135px;
}
.royalty-cont p::before {
  width: 63px;
  top: 277px;
}
.royal-cont {
  font-size: 21px;
  font-weight: 400;
  line-height: 8px;
  padding-top: 25px;
}
.royalties-content h2 {
  font-size: 50px;
  line-height: 76px;
}
.royal-cont p::before {
  left: 80px;
  top: 515px;
  width: 815px;
}
.royalties-content p {
  font-size: 20px;
  padding-top: 35px;
}
}
@media (max-width: 991px) { 
  .main-padding-top {
    padding-top: 100px;
  }
  .artist-dashboard .upload-icon {
    text-align: center;
    width: fit-content;
    margin-top: 10px;
  }
  .upload-modal .content-wrapper {
    padding: 0 30px;
}
.upload-modal .content-wrapper h1 {
  font-size: 32px;
  line-height: 40px;
}
.content-wrapper .icon img {
  width: 80px;
}
.upload-modal .modal-body .content-wrapper .icon {
  margin-bottom: 20px;
}
.upload-modal .btn-outline-white {
  height: 45px;
}
.song-info form .form-label {
  font-size: 22px;
  margin-bottom: 10px;
}
.song-info form .form-control {
  min-height: 60px;
}
.quantity-prices .item {
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-royalty h1 {
  font-size: 42px;
  line-height: 42px;
  padding-bottom: 22px;
}
.about-royalty p {
  font-size: 20px;
  line-height: 6px;
  padding-bottom: 35px;
}
.royalty-content h4 {
  font-size: 26px;
  line-height: 26px;
  padding-bottom: 15px;
}
.royal-content h4 {
  font-size: 26px;
  padding-bottom: 15px;
  line-height: 26px;
}
.royalty-content p {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 20px;
}
.royal-content p {
  font-size: 11px;
  line-height: 28px;
  padding-bottom: 20px;
}
.royalty-cont p {
  font-size: 11px;
  line-height: 16px;
  padding-top: 55px;
  padding-bottom: 135px;
}
.royalty-form .form-control1 {
  height: 50px;
  width: 130px;
}
.royal-form .form-control1 {
  height: 50px;
  width: 230px;
}
.royalty-cont p::before {
  width: 63px;
  top: 240px;
}
.royal-cont {
  font-size: 18px;
  line-height: 8px;
  padding-top: 5px;
}
.royal-cont p::before {
  left: 65px;
  top: 450px;
  width: 640px;
}
.royalties-content {
  padding-top: 50px;
  margin-left: 4%;
  position: relative;
}
.royalties-content h2 {
  font-size: 42px;
  line-height: 50px;
}
.royalties-content span .form-control1 {
  height: 50px;
  width: 135px;
  top: 50px;
  left: 41%;
}
.royalties-content p {
  font-size: 18px;
  padding-top: 35px;
}
}
@media (max-width: 767px) {
  .navbar-dark .navbar-brand{
    width: 160px;
  } 
  .overview-item .summary .value {
    font-size: 50px;
    line-height: 60px;
}
.overview-section {
  margin-bottom: 30px;
}
.artist-dashboard .top-section {
  bottom: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.empty .no-data {
  padding: 40px;
  margin-top: 10px;
}
.artist-dashboard .history {
  margin-top: 30px;
  padding-top: 30px;
}
.artist-dashboard .history h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.artist-dashboard .history h4{
  font-size: 16px;
}
.data1 {
  padding-right: 20px;
  padding-left: 20px;
}
.artist-dashboard .history .music-details {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.artist-dashboard .history .music-details .music-head{
  margin-bottom: 10px;
}
.upload-modal .modal-fullscreen .modal-body .border-right{
  border: none;
}
.upload-modal .content-wrapper{
  margin-bottom: 50px;
}
.quantity-prices .item .description {
  flex-direction: column;
  width: 100%;
}
.quantity-prices .description h2 , .quantity-prices .description p{
  width: 100%;
}
.about-royalty h1 {
  font-size: 35px;
  line-height: 30px;
  padding-bottom: 20px;
}
.about-royalty p {
  font-size: 17px;
  line-height: 3px;
  padding-bottom: 30px;
}
.royalty-content {
  text-align: center;
  padding-bottom: 30px;
}
.royalty-content h4 {
  font-size: 26px;
  line-height: 26px;
  padding-bottom: 15px;
  text-align: center;
}
.royal-content {
  text-align: center;
}
.royal-content h4 {
  font-size: 26px;
  padding-bottom: 15px;
  line-height: 26px;
  text-align: center;
}
.royalty-cont p {
  font-size: 11px;
  line-height: 16px;
  padding-top: 30px;
  padding-bottom: 40px;
  justify-content: center;
  cursor: pointer;
}
.royalty-cont p::before {
  width: 61px;
  top: 740px;
}
.royal-cont {
  font-size: 16px;
  line-height: 0px;
  padding-top: 0px;
}
.royal-cont p::before {
  left: 65px;
  top: 825px;
  width: 450px;
}
.royalties-content h2 {
  font-size: 34px;
  line-height: 15px;
}
.royalties-content span .form-control1 {
  height: 40px;
  width: 125px;
  top: 38px;
  left: 45%;
}
}
@media (max-width: 575px) {
  .upload-modal .content-wrapper {
    padding: 0 0px;
}
.quantity-prices .nav-tabs {
  width: 260px;
}
.quantity-prices .nav-tabs li.nav-item .nav-link {
  height: 40px;
  font-size: 14px;
}
.quantity-prices .description h2 {
  font-size: 24px;
  line-height: 34px;
}
.quantity-prices .description p{
  font-size: 12px;
}
.upload-modal .btn-gray {
  width: 42px;
  height: 42px;
}
.song-info form .form-control {
  min-height: 50px;
}
.content-wrapper .icon img {
  width: 50px;
}
.upload-modal .content-wrapper h1 {
  font-size: 28px;
  line-height: 35px;
}
.about-royalty h1 {
  font-size: 26px;
  line-height: 20px;
  padding-bottom: 18px;
}
.about-royalty p {
  font-size: 14px;
  line-height: 0px;
  padding-bottom: 30px;
}
.royalty-content h4 {
  font-size: 22px;
  line-height: 16px;
  padding-bottom: 12px;
  text-align: center;
}
.royal-content h4{
  font-size: 22px;
  line-height: 16px;
  padding-bottom: 12px;
  text-align: center;
}
.royalty-form .form-control1 {
  height: 40px;
  width: 120px;
}
.royal-form .form-control1 {
  height: 40px;
  width: 230px;
}
.royalty-cont p::before {
  width: 61px;
  top: 656px;
}
.royal-cont {
  font-size: 11px;
  line-height: 0px;
  padding-top: 0px;
}
.royal-cont p::before {
  left: 37px;
  top: 735px;
  width: 248px;
}
.royalties-content {
  padding-top: 35px;
  margin-left: 0%;
  position: relative;
}
.royalties-content h2 {
  font-size: 25px;
  line-height: 10px;
}
.royalties-content span .form-control1 {
  height: 35px;
  width: 100px;
  top: 25px;
  left: 63%;
}
.royalties-content p {
  font-size: 11px;
  padding-top: 35px;
}
}
