
body {
  font-family: "SF Pro Text";
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 ,.title , .nav-link, .dropdown-toggle{
  font-family: "Gotham";
}

.btn.btn-theme {
  color: #fff;
  background-color: #202020;
  border-color: #202020;
  border-radius: 25px;
  padding: 6px 15px;
  transition: 0.3s ease-in-out;
  font-size: 13px;
  position: relative;
}
.btn.btn-theme.bg-gray:hover{
  background: linear-gradient( 
    90deg, #9000F3, #DE05BA) !important;
  color: #fff !important;
  border-color: #9000F3 !important;
}
.bg-gradient{
  background: linear-gradient( 
    90deg, #9000F3, #DE05BA) !important;
  color: #fff !important;
  border-color: #9000F3 !important;
}
.btn.btn-theme.bg-gradient:hover{
  color: #fff !important;
  background: #202020 !important;
  border-color: #fff !important;
}
.bg-gray{
  background-color: #4C4C4D !important;
  border-color: #4C4C4D !important;
}
.dropdown-item.active, .dropdown-item:active{
  background: linear-gradient( 
    90deg, #9000F3, #DE05BA) !important;
  color: #fff !important;
  border-color: #9000F3 !important;
}
.sub-heading {
  font-size: 44px;
  text-transform: uppercase;
  color: #fff;
}
.heading{
  font-size: 68px;
}
span{
  font-size: 13px;
}
.title {
  font-size: 68px;
  line-height: 80px;
  text-transform: uppercase;

}

.dark-mode span, .dark-mode h2, .dark-mode .title, .dark-mode h6, .dark-mode p{
  color: white;
}
.dark-popup .modal-content{
  background-color: #000;
  color: #fff;
  border: none;
}
.dark-popup .btn.btn-theme a{
color: #fff;
text-decoration: none;
}
button.btn.btn-theme.bg-white {
  color: #000;
}
.singer-details-content .inline-buttons{
  gap: 20px;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: unset !important;
}
.btn-check:focus+.btn-primary, .btn-primary:focus{
  box-shadow: unset  !important;
}
.btn-check:focus+.btn, .btn:focus{
  box-shadow: unset  !important;
}
