a.back {
    display: flex;
    width: 40px;
    height: 40px;
    background: #202020;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 30px 0px;
    color: white;
}
.sub-catregory{
    font-size: 16px;
    text-decoration: underline;
}

.singer-details-content .tabs .library-tabs-section .nav-tabs .nav-link {
    margin-left: 0px !important; 
}
.singer-details-content .tabs .library-tabs-section hr{
    display: none;
}